{% extends 'base.html' %}

{% load static %}

{% block title %}Book a Room{% endblock %}

{% block content %}
    <h1>Book a Room</h1>
    <hr>
    <form method="post" class="my-4">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Book Now</button>
        <a href="{% url 'visitors:available_dates' %}" class="btn btn-primary">Check availability</a>

    </form>

    <!-- Hidden modal window -->
<div id="booking-success-modal" class="modal" style="display:none;">
    <div class="modal-content">
        <h2>Your booking has been successful!</h2>
        <p>Thank you for choosing our hotel.</p>
    </div>
</div>

{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/booking_form.js' %}"></script>
{% endblock %}